#player-icon {
    color: #FFC107;
    font-size: 256px;
    padding-top: 10px;
    width: 100%;
}

.player-col {
    text-align: center;
}

#player-song-name {
    font-size: 24px;
    font-weight: bold;
}

#player-song-artist {
    font-size: 18px;
    font-weight: lighter;
}

#player-progress-bar {
    margin-top: 40px;
}

.player-button {
    --background: var(--ion-toolbar-background);
    --color: var(--ion-tab-bar-color-selected);
    height: 100%;
    margin-top: 40px;
    margin-left: 12%;
    margin-right: 12%;
    width: 75%;
}